.row {
  margin-bottom: 30px;
}

.appointment-item {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.appointment-item:hover {
  transform: translateY(-5px);
}

.card {
  
  backdrop-filter: blur(18px);
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-bottom: 20px;
  border:none;
  
 
 
  
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-modal h2 {
  margin-bottom: 20px;
}

.delete-modal button {
  margin-top: 20px;
}

#admin-dashboard {
  font-family: comfortaa, sans-serif;
}

.overlay-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



